@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Giriş Sayfası";

}
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Tekrar Hoş Geldiniz!</h1>
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user"
                   id="inputEmail" aria-describedby="emailHelp"
                   placeholder="E-mail adresinizi giriniz...">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user"
                   id="inputPassword" placeholder="Şifre">
        </div>

        <button class="btn btn-primary btn-user btn-block" id="loginBtn">
            Giriş
        </button>
        <hr>
        <div class="text-center">
            <a class="small" href="/Register">Kayıt Ol!</a>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#loginBtn').click(() => { 
            var email = $('#inputEmail').val();
            var password = $('#inputPassword').val();
             
            $.ajax({
                url: '/Login',
                method: 'POST', 
                data: {
                    email: email,
                    password: password
                },
                success: function (response) { 
                    var accessToken = response.accessToken;
                    var userId = response.userId;

                    localStorage.setItem('accessToken', accessToken);
                    localStorage.setItem('userId', userId);
                     
                    window.location.href = response.redirectUrl;
                },
                error: function (e) {
                    alert('Hata: ' + e.responseText);
                }
            });
        }); 

    </script>
}